.about {
    width: 100%;
    height: 800px;
    background-image: url("../images/yoga-studios.jpeg");
    background-size: cover;
    padding: 40px var(--common-side-padding) 0;
    position: relative;
}

.about-article {
    font-size: 18px;
    font-weight: bold;
    background: var(--alpha-white);
    box-shadow: 0 0 15px 9px var(--alpha-white);
    width: auto;
    margin: 0;
    letter-spacing: 0.02em;
}

.about__typeList-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.about-typeList {
    padding: 0;
    margin: 30px 0;
    list-style: none;
}

.about-typeList li:not(:last-child) {
    margin-bottom: 20px;
}

.about__typeList-item {
    display: flex;
    align-items: center;
}

.about__typeList-item .item-img {
    width: 75px;
    height: 65px;
}

.about__typeList-item .item-text {
    color: white;
    font-size: 20px;
}
