.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px var(--common-side-padding) 0;
    background: var(--light-gray);
    box-shadow: 0 2px 8px 5px var(--light-gray);
    z-index: 1;
}

.header__logo {
    color: var(--black);
    font-size: 64px;
    font-family: 'Permanent Marker', cursive;
}

.header__nav-item {
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.header__nav-item:last-child {
    margin-right: 0;
}




