.tickets {
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--common-side-padding);
    position: relative;
}

.tickets-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.tickets-item:nth-of-type(1) {
    background-image: linear-gradient(var(--alpha-black), var(--alpha-black)), url("../images/ticket-item-first.jpeg");
}

.tickets-item:nth-of-type(2) {
    background-image: linear-gradient(var(--alpha-black), var(--alpha-black)), url("../images/ticket-item-second.jpeg");
}

.tickets-item:nth-of-type(3) {
    background-image: url("../images/ticket-item-third.jpeg");
}

.tickets__item-title {
    margin: 0;
    font-size: 30px;
    letter-spacing: 0.01em;
    width: 100%;
    background: var(--alpha-black);
    padding: 5px 0;
}

.tickets__item-prise {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.01em;
    margin: 5px 0;
    text-shadow: var(--alpha-white) 1px 0 5px;
}

.tickets__item-description {
    font-size: 20px;
    margin: 5px 0;
    text-shadow: var(--alpha-white) 1px 0 5px;
    padding: 0 10px;
}

.ticket__item-button {
    height: 40px;
    font-size: 20px;
    border: 2px white solid;
    border-radius: 2px;
    background: #6b7c8b;
    cursor: pointer;
    color: white;
    padding: 5px 40px;
    margin-bottom: 10px;
}

.ticket__item-button:hover {
    background-color: #dcdc44;
}
